@import "tailwindcss";

* {
	box-sizing: border-box;
}

:root {
	font-family: Lateef, system-ui, Avenir, Helvetica, Arial, sans-serif;
	line-height: 1.5;
	font-weight: 400;

	color-scheme: light dark;
	color: var(--color-slate-200);
	background-color: var(--color-slate-900);

	font-synthesis: none;
	text-rendering: optimizeLegibility;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}

html {
  overflow-x: hidden;
}

body {
  overflow-x: hidden;
	margin: 0;
	display: flex;
	justify-content: center;
	min-height: 100vh;
}